argon2-cffi==18.1.0
arrow==0.12.1
backports.functools-lru-cache==1.5
cffi==1.11.5
click==6.7
dnspython==1.15.0
email-validator==1.0.3
enum34==1.1.6
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
passlib==1.7.1
psycopg2==2.7.4
pycparser==2.18
python-dateutil==2.7.2
six==1.11.0
SQLAlchemy==1.2.6
Werkzeug==0.14.1
